<!DOCTYPE html>
<html {{ blog.language_attributes }}>
<head>
	<meta charset="{{ blog.charset }}" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="theme-color" content="#fff">
	<meta name="home-url" content="{{ blog.home_url }}">
	<link rel="icon" href="{{ asset('images/favicon.svg') }}"/>
	<link rel="mask-icon" href="{{ asset('images/favicon.svg') }}" color="#000000">
	<link rel="apple-touch-icon" href="{{ asset('images/favicon.png') }}">
	{% if options.piwik_account %}
		<script type="text/javascript">
            (function(window, document, dataLayerName, id) {
                window[dataLayerName]=window[dataLayerName]||[],window[dataLayerName].push({start:(new Date).getTime(),event:"stg.start"});var scripts=document.getElementsByTagName('script')[0],tags=document.createElement('script');
                function stgCreateCookie(a,b,c){var d="";if(c){var e=new Date;e.setTime(e.getTime()+24*c*60*60*1e3),d="; expires="+e.toUTCString();f="; SameSite=Strict"}document.cookie=a+"="+b+d+f+"; path=/"}
                var isStgDebug=(window.location.href.match("stg_debug")||document.cookie.match("stg_debug"))&&!window.location.href.match("stg_disable_debug");stgCreateCookie("stg_debug",isStgDebug?1:"",isStgDebug?14:-1);
                var qP=[];dataLayerName!=="dataLayer"&&qP.push("data_layer_name="+dataLayerName),isStgDebug&&qP.push("stg_debug");var qPString=qP.length>0?("?"+qP.join("&")):"";
                tags.async=!0,tags.src="https://{{ options.piwik_account }}.containers.piwik.pro/"+id+".js"+qPString,scripts.parentNode.insertBefore(tags,scripts);
                !function(a,n,i){a[n]=a[n]||{};for(var c=0;c<i.length;c++)!function(i){a[n][i]=a[n][i]||{},a[n][i].api=a[n][i].api||function(){var a=[].slice.call(arguments,0);"string"==typeof a[0]&&window[dataLayerName].push({event:n+"."+i+":"+a[0],parameters:[].slice.call(arguments,1)})}}(i[c])}(window,"ppms",["tm","cm"]);
            })(window, document, 'dataLayer', '{{ options.piwik_site_id }}');
		</script>
	{% endif %}
	{% if options.gtm|default('') %}
		<!-- Google Tag Manager -->
		<script>
			(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
						new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
					j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
					'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','{{ options.gtm }}');</script>
		<!-- End Google Tag Manager -->
	{% endif %}
	{% set bugsnag_api_key = blog.option('bugsnag_api_key') %}
	{% if bugsnag_api_key %}
		<script type="module">
            import BugsnagPerformance from '//d2wy8f7a9ursnm.cloudfront.net/v1/bugsnag-performance.min.js'
            BugsnagPerformance.start({ apiKey: '{{ bugsnag_api_key }}' })
		</script>
	{% endif %}
	{% block stylesheets %}
		{{ vite_entry_link_tags('app') }}
	{% endblock %}
	<link rel="stylesheet" href="{{ asset('print.css') }}" type="text/css" media="print">
	{% block seo %}
		{% include 'partial/seo.twig' %}
	{% endblock %}
	{{ function('wp_head') }}
</head>
<body class="is-front is-root-container {{body_class}}">
<div id="root">
	{% block header %}
		{% include 'partial/header/header.twig' %}
	{% endblock %}

	<main>
		<div class="sections">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>
	</main>

	{% block footer %}
		{% include 'partial/footer/footer.twig' %}
	{% endblock %}
</div>

{% block javascripts %}
	{{ vite_entry_script_tags('app') }}
	{% if post|has_block('contact') %}
		{{ enqueue_contact_form_scripts() }}
	{% endif %}
{% endblock %}

{{ function('wp_footer') }}

{% include 'partial/grid-debug.twig' %}

</body>
</html>
